<a href="https://colab.research.google.com/github/shcho11/Python_practices1/blob/main/Python_practices1-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practices 1-2 : 리스트, 튜플, 딕셔너리

practice #8 리스트

In [1]:
#리스트생성, 값변경
def under_bar():
    print('_'*15)

under_bar()
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1, 2, 3, 4, 5],['a', 'b', 'c']]
list1[0] = 6
print(list1)
list4 = [1, 2, under_bar]
list4[2]()
print(list3[3][1])

_______________
[6, 2, 3, 4, 5]
_______________
2

In [2]:
#슬라이싱(Slicing)
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities)
print(cities[0:6])
print(cities[6:])
print(cities[-8:])
print(cities[-8:2])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주']
['울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산']

In [4]:
#슬라이싱에서 범위선택시: 1)콜론을 넣으면 모든값 반환 2) 시작-마지막인덱스는 자동 지정
city = 'seoul'
print(city)
print(city[:])
print(city[-10:10])

seoul
seoul
seoul

In [5]:
city = 'seoul'
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(city)
print(city[0::2])
print(city[::-1])
print(cities)
print(cities[0:6:3])
print(cities[::-1])

seoul
sol
luoes
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '대구']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [6]:
#리스트의 연산 (덧셈)
cities1 = ['서울', '김포', '부산']
cities2 = ['인천', '대구', '대전', '광주']
print(cities1 + cities2)
korean_cities = cities1 + cities2
print(korean_cities)

['서울', '김포', '부산', '인천', '대구', '대전', '광주']
['서울', '김포', '부산', '인천', '대구', '대전', '광주']

In [7]:
#리스트의 연산 (곱셈)
cities = ['서울', '김포', '부산']
print(cities * 2)
korean_cities = cities * 2
print(korean_cities)
print('김포' in korean_cities)

['서울', '김포', '부산', '서울', '김포', '부산']
['서울', '김포', '부산', '서울', '김포', '부산']
True

■리스트의 추가 및 삭제함수 <br>
append() 새로운 값을 추가 <br>
extend() 새로운 리스트를 추가 (덧셈효과) <br>
insert() 지정한 인덱스에 추가 (추가로 인한 밀림현상 발생) <br>
remove() 특정값을 찾아서 제거 <br>
del() 인덱스값으로 삭제

In [8]:
#리스트추가함수: append
city = 'korea'
cities = ['서울', '부산', '인천', '대구', '대전']
cities[4] = '일산'
print(cities)
city += '  university'
cities.append('김포')
print(cities)
print(city)

['서울', '부산', '인천', '대구', '일산']
['서울', '부산', '인천', '대구', '일산', '김포']
korea  university

In [9]:
#extend() 함수
cities = ['서울', '부산', '인천', '대구', '대전']
cities = cities + ['고양', '일산']
print(cities)
cities = cities + ['고양']
print(cities)
cities.extend(['독도'])
print(cities)
cities.extend(['대한민국'])
print(cities)

['서울', '부산', '인천', '대구', '대전', '고양', '일산']
['서울', '부산', '인천', '대구', '대전', '고양', '일산', '고양']
['서울', '부산', '인천', '대구', '대전', '고양', '일산', '고양', '독도']
['서울', '부산', '인천', '대구', '대전', '고양', '일산', '고양', '독도', '대한민국']

In [10]:
#insert()함수, remove()함수
cities = ['서울', '부산', '인천', '대구', '대전']
print(cities)
cities.insert(1,'김포')
cities.insert(8,'광주') #인덱스최대값 초과해도 맨 뒤로 출력
print(cities)
cities.remove('인천')
print(cities)
del cities[0] #인덱스번호로도 삭제 가능
print(cities)

['서울', '부산', '인천', '대구', '대전']
['서울', '김포', '부산', '인천', '대구', '대전', '광주']
['서울', '김포', '부산', '대구', '대전', '광주']
['김포', '부산', '대구', '대전', '광주']

In [11]:
#다중 리스트 구성
kor_score = [56,67,78]
eng_score = [43,54,65]
total = [kor_score, eng_score]
print(kor_score)
print(eng_score)
print(total)
print(total[0][2])

[56, 67, 78]
[43, 54, 65]
[[56, 67, 78], [43, 54, 65]]
78

practice #9 튜플

In [12]:
#데이터 변경 불가, 소괄호 () 사용, 리스트에서 사용하는 연산,인덱싱,슬라이싱 동일
kor_score = (56,67,78)
eng_score = (43,54,65)
total = (kor_score, eng_score)
print(kor_score)
print(eng_score)
print(total)
print(total[0][2])

(56, 67, 78)
(43, 54, 65)
((56, 67, 78), (43, 54, 65))
78

practice #10 딕셔너리

In [13]:
#key(키)와 value(값)으로 데이터를 저장하는 구조
#중괄호 {} 사용
#딕셔너리 변수 = {키1:값1, 키2:값2, 키3값3, ...)

cellphone_info = {'양세형':'010-1111-2222',
                  '양세찬':'010-2222-3333',
                  '이승기':'010-3333-4444'}
print(cellphone_info['양세찬'])
cellphone_info['양세찬'] = '010-4444-5555'
print(cellphone_info['양세찬'])
print(cellphone_info.values()) #값만 확인
print(cellphone_info.keys()) #키만 확인
print(cellphone_info.items()) # 키-값쌍 모두 확인
print('유재석' in cellphone_info.keys())

010-2222-3333
010-4444-5555
dict_values(['010-1111-2222', '010-4444-5555', '010-3333-4444'])
dict_keys(['양세형', '양세찬', '이승기'])
dict_items([('양세형', '010-1111-2222'), ('양세찬', '010-4444-5555'), ('이승기', '010-3333-4444')])
False