<a href="https://colab.research.google.com/github/shcho11/Python_practices1/blob/main/Python_practices1-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Practices 1-3 반복문

practice #11 for반복문

In [1]:
str = 'Korea'
for i in str:
    print(i)

K
o
r
e
a

In [2]:
#리스트 기반의 반복문 사용
str = 'Korea'
for i in [2,'a',3,4,5]:
    print(str)

Korea
Korea
Korea
Korea
Korea

In [3]:
str = '*'
for i in [1,2,3,4,5]:
    print(str * i)

*
**
***
****
*****

In [ ]:
# * 100개 출력
str = '*'
for i in range(100):
    print(str)

In [6]:
#range기반의 반복문
#1부터 100까지 수 중에 홀수의 합 구하기
sum = 0
for i in range(1,101,2):
    sum += i
print(sum)

2500

In [7]:
#구구단 2단 출력
for i in range(1,10):
    print('2 * %d = %2d' %(i,i*2))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [8]:
#9단을 거꾸로 출력하기
for i in range(9,0,-1):
    print('9 * %d = %d' %(i,i*9))

9 * 9 = 81
9 * 8 = 72
9 * 7 = 63
9 * 6 = 54
9 * 5 = 45
9 * 4 = 36
9 * 3 = 27
9 * 2 = 18
9 * 1 = 9

In [9]:
#구구단 전체 출력
for i in range(2,10):
    for j in range(1,10):
        print('%d * %d = %2d' %(i,j,i*j))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [10]:
#인풋한 구구단 출력
a = int(input("출력할 단을 입력하세요: "))
for i in range(1,10):
    print('%d * %d = %3d' %(a,i,a*i))
for i in range(9,0,-1):
    print('%d * %d = %3d' %(a,i,a*i))

출력할 단을 입력하세요: 3
3 * 1 =   3
3 * 2 =   6
3 * 3 =   9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 9 =  27
3 * 8 =  24
3 * 7 =  21
3 * 6 =  18
3 * 5 =  15
3 * 4 =  12
3 * 3 =   9
3 * 2 =   6
3 * 1 =   3

In [17]:
#else문
for i in range(5):
    print(i)
else:
    print("반복문이 완료되었군요")

0
1
2
3
4
반복문이 완료되었군요

In [18]:
for i in range(5):
    if i >= 4:
        break
    else:
        print(i)
else:
    print("반복문이 완료되었군요")

0
1
2
3

practice #12 While반복문

In [11]:
cnt = 0
while cnt<10:
    print(cnt)
    cnt += 1

0
1
2
3
4
5
6
7
8
9

In [12]:
#1부터 10까지 합을 계산
sum = 0
num = 1
while num <= 10:
    sum += num
    num += 1
print('Sum : ', sum)

Sum :  55

In [16]:
#break문 적용 1
for i in [1,2,3,4,5]:
    if i == 5: break
    print(i)

1
2
3
4

In [15]:
#break문 적용 2
i = 1
while i <= 5:
    if i == 5: break
    print(i)
    i += 1

1
2
3
4