<a href="https://colab.research.google.com/github/shcho11/Python_practices1/blob/main/Python_practices1-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

practice #1 각종 연산

In [22]:
# 작은 따옴표는 큰 따옴표로, 큰 따옴표는 작은 따옴표로 둘러쌀 수 있다.
print('"I\'m your energy"') # 문자열내에 따옴표가 섞여있으면 \(backslash) 추가
A = 22
B = 21
print(A+B)
# 사칙연산
print(10+7)
print(10-7)
print(10*7)
print(10/7)
print(10%7)
# 기타
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)
a, b, c = c, b, a
print(a, b, c)
# 선언
a = 10
print(a)
a = a + 5
print(a)
PI = 3.14
radius = 5
print(PI * radius * radius)

"I'm your energy"
43
17
3
70
1.4285714285714286
3
10
20
30
30 20 10
10
15
78.5

float( ): 정수또는문자 -> 실수형으로 변환
str( ): 정수또는실수 -> 문자형으로 변환

a+=b 의미: a=a+b
a-=b 의미: a=a-b
a*=b 의미: a=a*b
a/=b 의미: a=a/b
a%=b 의미: a=a%b

practice #2 인풋 연습

In [15]:
# 인풋 연습 1
name = input("이름을 입력하세요 >>")
age = input("나이를 입력하세요 >>")
print("당신의 이름은 ", name,"이고, 나이는 ", age,"살 입니다")

이름을 입력하세요 >>송현
나이를 입력하세요 >>34
당신의 이름은  송현 이고, 나이는  34 살 입니다

In [17]:
# 인풋 연습 2
age = int(input("나이를 입력하세요 >>"))
print("당신은 10년 뒤", age + 10, "살 입니다")

나이를 입력하세요 >>34
당신은 10년 뒤 44 살 입니다

In [43]:
name = input("이름을 입력하시오: ")
age = int(input("나이를 입력하시오: "))
print(name,"\b님의 나이는 ",int(age-5),"\b살 처럼 보입니다")

이름을 입력하시오: 송현
나이를 입력하시오: 34
송현 님의 나이는  29 살 처럼 보입니다

In [56]:
F = int(input("화씨 온도를 입력하시오>> "))
C = (F-32)*5/9
print("섭씨 온도는 %.1f입니다"%C)

화씨 온도를 입력하시오>> 70
섭씨 온도는 21.1입니다

practice #3 문자 출력

In [26]:
print('고려')
print('대학교')
print('고려'+'대학교')
title = 'Korea' + 'University'
print(title)
title += '\t모두의'
print(title)
title += input('하고 싶은 말은?')
print(title)

고려
대학교
고려대학교
KoreaUniversity
KoreaUniversity	모두의
하고 싶은 말은?파이썬
KoreaUniversity	모두의파이썬

In [33]:
print('*' * 12)
print('고려대학교')
print('*' * 12)

************
고려대학교
************

In [34]:
deco = '+-' * 5
print(deco)
print('모두를 위한 '+'파이썬 프로그래밍')
deco *= 3
print(deco)

+-+-+-+-+-
모두를 위한 파이썬 프로그래밍
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

practice #4 문자열

In [44]:
#String Formatting
#1) 문자열 내 문자열 대입
name = input("이름을 입력하시오: ")
print('당신의 이름은 %s입니다' %name)

#2) 문자열 내 숫자 대입
age = int(input("나이를 입력하시오: "))
print('나이는 %d살 입니다' %age)

#3) 문자열 내 2개 이상의 정보 대입
name = input("이름을 입력하시오: ")
age = int(input("나이를 입력하시오: "))
print('이름은 %s이고 나이는 %d살 입니다' %(name,age))

이름을 입력하시오: 송현
당신의 이름은 송현입니다
나이를 입력하시오: 34
나이는 34살 입니다
이름을 입력하시오: 송현
나이를 입력하시오: 34
이름은 송현이고 나이는 34살 입니다

변수의 자료형에 따른 서식
%s : 문자열(string)
%c: 문자 1개(character)
%d: 정수(integer)
%f: 실수형(floating-point)
%o: 8진수
%x: 16진수
%%: 문자 %자체

In [45]:
#문자열의 정렬
#%[폭]s
#예) %10s (10칸의 폭에서 우측정렬)
#예) %-10s (10칸의 폭에서 좌측정렬)

print('%10s' %'Korea')
print('%-10s' %'University')

     Korea
University

In [46]:
#정수의 정렬
print('%5d'%2020)
print('%-5d'%2020)

 2020
2020

In [47]:
#실수의 정렬
print('%10.2f' %2020.0123)
print('%-10.3f' %2020.9876)

   2020.01
2020.988

In [ ]:
#데이터 분리하기
student = str(input("학번을 입력하세요>> "))
print('입학년도: ','%8s'%student[0:4])
print('학생번호: ','%-8s'%student[4:])

practice #5 인덱싱(indexing)

In [37]:
#문자열 인덱스 번호체계
str = "Programming"
print(str[0], str[10])
print(str[-11], str[-1])

#문자열에서 특정 문자 추출
str = "Programming"
print(str[0] + str[1] + str[2] + str[3])
print(str[0:4])
print(str[4:10])

P g
P g
Prog
Prog
rammin

문자열: 특수문자 기능 (escape)
"It's OK"
a = '"It's OK"' (X)
a = '"It\'s OK"' (O)

파이썬의 특수문자기능 사용
\[enter] 다음줄과 연속임을 표현
\ 문자자체
\e esc키
\b 백스페이스
\n 줄바꾸기
\t 탭 키

In [38]:
korea = "나는 자랑스런 태극기 앞에 \n 조국과 민족의 무궁한 영광을 위하여 몸과 마음을 \n 바쳐 충성을 다할 것을 굳게 다짐합니다."
print(korea)

나는 자랑스런 태극기 앞에
 조국과 민족의 무궁한 영광을 위하여 몸과 마음을
 바쳐 충성을 다할 것을 굳게 다짐합니다.

practice #6 관계연산자

In [57]:
A, B = 10, 20
print(A==B)
print(A!=B)
print(A>B)
print(A<B)
print(A>=B)
print(A<=B)
print(A+5<B-5)

False
True
False
True
False
True
False

In [59]:
#논리곱 1
A = int(input("수를 입력하세요: "))
result = A > 10 and A <= 50 # 파이썬에서10<A<=50 이라고 써도 된다
print(result)

수를 입력하세요: 9
False

In [62]:
#논리곱 2
A = int(input("수를 입력하세요: "))
result = not A #0을 넣을 때만 True 출력된다. (0자체가 False이므로 not A에 의해 True 출력)
print(result)

수를 입력하세요: 0
True

In [63]:
A = int(input())
print(",")
B = int(input())
result = (A >= 0) and (A <=50) and (B >=0) and (B <= 50)
print(result)

10
,
30
True

practice #7 조건문 if

In [66]:
print("""
*-*-*-*-*-*-*-*-
WELCOME TO HONGDAE CLUB
*-*-*-*-*-*-*-*-
""")
age = int(input("How old are you? "))
if age < 30:
    print("Welcome here!")
if age >= 30:
    print("Sorry, you cannot come in")

*-*-*-*-*-*-*-*-
WELCOME TO HONGDAE CLUB
*-*-*-*-*-*-*-*-

How old are you? 30
Sorry, you cannot come in

In [67]:
a = int(input("성적을 입력하세요 : "))
if 90 <= a <= 100:
    print('A')
if 80 <= a <= 89:
    print('B')
if 70 <= a <= 79:
    print('C')
if 60 <= a <= 69:
    print('D')
if a <= 59:
    print('F')

성적을 입력하세요 : 80
B

In [68]:
a = int(input("Please input any number : "))
if a%2 == 0:
    print("짝수입니다")
if a%2 == 1:
    print("홀수입니다")

Please input any number : 15
홀수입니다

In [69]:
# else를 함께 활용
a = int(input("Please input any number : "))
if a%2 == 0:
    print("짝수입니다")
else:
    print("홀수입니다")

Please input any number : 14
짝수입니다

In [70]:
a = int(input("Please input any number : "))
print("짝수입니다") if a % 2 == 0 else print("홀수입니다")

Please input any number : 24
짝수입니다

In [72]:
#중첩된 if (elif) 활용
score = int(input("점수를 입력하세요 : "))
if 90 <= score <= 100:
    print('A')
elif 80 <= score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
elif 60 <= score <= 69:
    print('D')
else:
    print('F')

점수를 입력하세요 : 80
B